body {
  background-color: #fff;
}
.page-title {
  margin: 0;
}
.content-container {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  border: none;
  margin: 20px 0 0 0;
  padding: 30px 24px;
}
  .content-container div:first-child  {
    line-height: 50px;
  }
.contain {
  max-width: 1024px;
}
.webcam-description {
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
}
.webcam-image {
  -ms-interpolation-mode: bicubic;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .logo {
    margin-left: 22px;
  }
}