<div class="hidden-sm hidden-xs row">
  <div class="col-md-12">
    <div class="alert parkAlerts alert-danger alert-dismissible" role="alert" style="padding-left:23px;">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 style="font-size:14px;">Seasonal Road Closures</h4>
      <p>Seasonal road closures are in effect for motorized vehicles. Closures include portions of the Teton Park Road (Taggart Lake TH to Signal Mt. Lodge), Moose-Wilson Road (Granite Canyon TH to Death Canyon Road), Antelope Flats Road and Grassy Lake Road. <a class="more" href="#">More</a></p>
    </div>
  </div>
</div>