<!--
<div class="alert alert-dismissible alert-danger col-md-12 hidden-lg hidden-md" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4>Tioga Road (Highway 120 from Tioga Pass Entrance to Crane Flat) and Glacier Point Road are Closed</h4>
  <p>The Tioga Road (Highway 120 from Tioga Pass Entrance to Crane Flat) and the Glacier Point Road are closed due to snow and ice. Check current road conditions and chain restrictions by calling 209/372-0200 (then dial 1, then 1). <a class="more" href="/yose/planyourvisit/wroads.htm" title="Tioga Road (Highway 120 from Tioga Pass Entrance to Crane Flat) and Glacier Point Road are Closed">More</a></p>
</div>
-->

<div class="col-md-12 hidden-lg hidden-md row">
  <div>
    <button aria-controls="mobile-alerts" aria-expanded="false" class="btn btn-danger collapse" data-target="#mobile-alerts" data-toggle="collapse" type="button">Park Alerts</button>
  </div>
  <div class="alert alert-danger" id="mobile-alerts" role="alert">
    <h4>Tioga Road (Highway 120 from Tioga Pass Entrance to Crane Flat) and Glacier Point Road are Closed</h4>
    <p>The Tioga Road (Highway 120 from Tioga Pass Entrance to Crane Flat) and the Glacier Point Road are closed due to snow and ice. Check current road conditions and chain restrictions by calling 209/372-0200 (then dial 1, then 1). <a class="more" href="/yose/planyourvisit/wroads.htm" title="Tioga Road (Highway 120 from Tioga Pass Entrance to Crane Flat) and Glacier Point Road are Closed">More</a></p>
  </div>
</div>