<div class="col-md-9 hidden-sm hidden-xs row" id="alert-container">
  <div id="alert">
    <div id="alert-box" class="alert-toggle noselect">There are park alerts in effect.</div>
    <a class="alert-toggle" href="javascript:void(0);" id="alert-toggle">hide Alerts »</a>
  </div>
  <div class="alert-top"></div>
  <div id="content-alert">
    <div id="alert-message">
      <ul class="last">
        <li>
          <h4>Tioga Road (Highway 120 from Tioga Pass Entrance to Crane Flat) and Glacier Point Road are Closed</h4>
          <p>The Tioga Road (Highway 120 from Tioga Pass Entrance to Crane Flat) and the Glacier Point Road are closed due to snow and ice. Check current road conditions and chain restrictions by calling 209/372-0200 (then dial 1, then 1). <a class="more" href="/yose/planyourvisit/wroads.htm" title="Tioga Road (Highway 120 from Tioga Pass Entrance to Crane Flat) and Glacier Point Road are Closed">More</a></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="alert-bottom"></div>
</div>