<!-- Desktop -->
<div class="hidden-sm hidden-xs row">
  <div class="col-md-12">
    <div class="bap">
      <div class="large">
        <img src="{{ site.baseurl }}/assets/img/banner.jpg" class="img-responsive" alt="Rainbow over Half Dome" title="Rainbow over Half Dome">
        <div class="title">
          <div class="bapTitleBox">
            <h1>Yosemite</h1>
          </div>
          <div class="sub">
            <h3>National Park <span class="location">California </span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile -->
<span class="hidden-lg hidden-md">
  <div class="row">
    <div class="col-md-12">
      <div class="bap-mobile">
        <img src="{{ site.baseurl }}/assets/img/banner.jpg" class="img-responsive" alt="Rainbow over Half Dome" title="Rainbow over Half Dome">
        <div class="title">
          <h1>Yosemite</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bap-mobile">
      <div class="sub">
        <h3>National Park <span class="location">California</span></h3>
      </div>
    </div>
  </div>
</span>