<!-- Desktop -->
<div class="hidden-sm hidden-xs row">
  <div class="col-md-12">
    <div class="bap">
      <div class="large">
        <img alt="Bears" class="img-responsive" src="{{ site.baseurl }}/assets/img/banner-subject-primary.jpg" title="Bears">
        <div class="title">
          <div class="bapTitleBox">
            <h1>Bears</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile -->
<span class="hidden-lg hidden-md">
  <div class="row">
    <div class="col-md-12">
      <div class="bap-mobile">
        <img alt="Bears" class="img-responsive" src="{{ site.baseurl }}/assets/img/banner-subject-primary.jpg" title="Bears">
        <div class="title">
          <h1>Bears</h1>
        </div>
      </div>
    </div>
  </div>
</span>