<!-- Desktop black bar -->
<div class="hidden-sm hidden-xs row">
  <!-- LOGO -->
  <div class="col-md-9">
    <a class="logo" href="/" style="display:block;"></a>
  </div>
  <!-- SEARCH -->
  <div class="col-md-3 search-large">
    <form action="/search/index.htm" autocomplete="off" class="form-inline" id="global-search" method="get" role="form">
      <label class="visuallyhidden" for="header-query">Search</label>
      <input class="form-control" id="header-query" name="query" type="text">
      <input name="siteLimit" type="hidden" value="nps.gov/yose">
      <input name="as_sfid" type="hidden" value="AAAAAAVIXgb9Jvp45gBKLe5jrkoUEnJcCTlr9kt2dN_NFij81tXP8FBI_-ESDDp0brr3KUVKPFM5m83ZgsAyV6VSm16f4mlK3Dte5DM_k2J3pFGOkQ==">
      <input name="as_fid" type="hidden" value="5sPXH0SK9fPvqhVCFP2L">
      <span class="fa fa-search"></span>
    </form>
  </div>
</div>
<!-- Desktop nav -->
<div class="desktop-nav hidden-sm hidden-xs">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li style="width:99px;"><a href="/findapark/index.htm">Find a Park</a></li>
        <li class="dropdown" style="width:141px;">
          <a href="/history/" class="dropdown-toggle" data-toggle="dropdown">Discover History <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/history/people.htm">People</a></li>
            <li><a href="/history/places.htm">Places</a></li>
            <li><a href="/history/stories.htm">Stories</a></li>
            <li><a href="/history/preservation.htm">Preservation</a></li>
            <li><a href="/history/collections.htm">Collections</a></li>
            <li><a href="/history/travelers.htm">For Travelers</a></li>
            <li><a href="/history/teachers.htm">For Teachers</a></li>
            <li><a href="/history/kids.htm">For Kids</a></li>
            <li><a href="/history/publications.htm">Publications</a></li>
          </ul>
        </li>
        <li class="dropdown" style="width:134px;">
          <a href="nature.nps.gov" class="dropdown-toggle" data-toggle="dropdown">Explore Nature <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.nature.nps.gov/air/">Air Resources</a></li>
            <li><a href="http://www.nature.nps.gov/biology/">Biological Resources</a></li>
            <li><a href="/subjects/climatechange/index.htm">Climate Change</a></li>
            <li><a href="http://www.nature.nps.gov/protectingrestoring/">Environmental Quality</a></li>
            <li><a href="http://www.nature.nps.gov/geology/">Geologic Resources</a></li>
            <li><a href="http://science.nature.nps.gov/im/index.cfm">Inventory &amp; Monitoring</a></li>
            <li><a href="http://www.nature.nps.gov/nnl/">National Natural Landmarks</a></li>
            <li><a href="http://www.nature.nps.gov/sound_night/">Natural Sounds &amp; Night Skies</a></li>
            <li><a href="http://www.nature.nps.gov/partnerships.cfm">Partnerships</a></li>
            <li><a href="http://www.nature.nps.gov/multimedia.cfm">Photos &amp; Multimedia</a></li>
            <li><a href="http://www.nature.nps.gov/publications.cfm">Publications</a></li>
            <li><a href="http://www.nature.nps.gov/rlc/">Research Learning Centers</a></li>
            <li><a href="http://www.nature.nps.gov/scienceresearch.cfm">Science &amp; Research</a></li>
            <li><a href="http://www.nature.nps.gov/socialscience/">Social Science</a></li>
            <li><a href="http://www.nature.nps.gov/water/">Water Resources</a></li>
          </ul>
        </li>
        <li class="dropdown" style="width:122px;">
          <a href="/getinvolved/" class="dropdown-toggle" data-toggle="dropdown">Get Involved <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/getinvolved/volunteer.htm">Volunteer</a></li>
            <li><a href="/getinvolved/donate.htm">Donate</a></li>
            <li><a href="/getinvolved/partner.htm">Partner</a></li>
            <li><a href="/getinvolved/doyourpart.htm">Do Your Part</a></li>
          </ul>
        </li>
        <li class="dropdown" style="width:198px;">
          <a href="/communities/" class="dropdown-toggle" data-toggle="dropdown">Working with Communities <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/tps/tax-incentives.htm">Tax Incentives</a></li>
            <li><a href="/history/nr">National Register of Historic Places</a></li>
            <li><a href="/history/grants.htm">Preservation</a></li>
            <li><a href="/lwcf">Outdoor Recreation</a></li>
            <li><a href="/nts">National Historic Trails</a></li>
          </ul>
        </li>
        <li class="dropdown" style="width:102px;">
          <a href="/teachers/" class="dropdown-toggle" data-toggle="dropdown">Teachers <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/teachers/classrooms.htm">Parks as Classrooms</a></li>
            <li><a href="/teachers/development.htm">Professional Development</a></li>
            <li><a href="/teachers/distancelearning.htm">Distance Learning</a></li>
          </ul>
        </li>
        <li style="width:63px;">
          <a href="/kids/">Kids</a>
        </li>
        <li class="dropdown" style="width:101px;">
          <a href="/aboutus/" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
            <ul class="dropdown-menu" style="left:auto;right:0;">
              <li><a href="/aboutus/workwithus.htm">Work With Us</a></li>
              <li><a href="/aboutus/jobsforstudents.htm">Jobs for Students</a></li>
              <li><a href="/aboutus/budget.htm">Budget</a></li>
              <li><a href="/aboutus/doingbusinesswithus.htm">Doing Business with Us</a></li>
              <li><a href="/aboutus/lawsandpolicies.htm">Laws &amp; Policies</a></li>
              <li><a href="/aboutus/publications.htm">Publications</a></li>
            </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>
</div>
<!-- Mobile black bar and nav -->
<div class="hidden-lg hidden-md mobile-black-bar">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <a class="logo navbar-brand" href="/"></a>
      <button class="navbar-toggle" data-target=".navbar-mobile" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button class="navbar-toggle navbar-toggle-search-mobile" data-target=".search-mobile" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle search</span>
        <i class="fa fa-lg fa-search"></i>
      </button>
    </div>
    <form action="/search/index.htm" autocomplete="off" class="collapse row search-mobile" method="get" role="form">
      <div class="form-group">
        <div class="input-group">
          <label class="visuallyhidden" for="search-mobile-query">Search</label>
          <input class="form-control" id="search-mobile-query" name="query" type="text">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div>
      </div>
      <input name="siteLimit" type="hidden" value="nps.gov/yose">
      <input name="as_sfid" type="hidden" value="AAAAAAVIXgb9Jvp45gBKLe5jrkoUEnJcCTlr9kt2dN_NFij81tXP8FBI_-ESDDp0brr3KUVKPFM5m83ZgsAyV6VSm16f4mlK3Dte5DM_k2J3pFGOkQ==">
      <input name="as_fid" type="hidden" value="5sPXH0SK9fPvqhVCFP2L">
    </form>
    <div class="collapse navbar-collapse navbar-mobile">
      <div>
        <h2>Yosemite National Park</h2>
        <ul>
          <li><a href="/yose/">Park Home</a></li>
          <li><a href="/yose/planyourvisit/">Plan Your Visit</a></li>
          <li><a href="#">Photos &amp; Multimedia</a></li>
          <li><a href="#">History &amp; Culture</a></li>
          <li><a href="#">Nature &amp; Science</a></li>
          <li><a href="#">For Teachers</a></li>
          <li><a href="#">For Kids</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Management</a></li>
          <li><a href="#">Support Your Park</a></li>
          <li><a href="#">Bookstore</a></li>
        </ul>
        <h2>National Park Service</h2>
        <ul>
          <li><a href="/findapark/index.htm">Find a Park</a></li>
          <li class="dropdown">
            <a href="/history/" class="dropdown-toggle" data-toggle="dropdown">Discover History</a>
            <ul class="dropdown-menu">
              <li><a href="/history/people.htm">People</a></li>
              <li><a href="/history/places.htm">Places</a></li>
              <li><a href="/history/stories.htm">Stories</a></li>
              <li><a href="/history/preservation.htm">Preservation</a></li>
              <li><a href="/history/collections.htm">Collections</a></li>
              <li><a href="/history/travelers.htm">For Travelers</a></li>
              <li><a href="/history/teachers.htm">For Teachers</a></li>
              <li><a href="/history/kids.htm">For Kids</a></li>
              <li><a href="/history/publications.htm">Publications</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="nature.nps.gov" class="dropdown-toggle" data-toggle="dropdown">Explore Nature</a>
            <ul class="dropdown-menu">
              <li><a href="http://www.nature.nps.gov/air/">Air Resources</a></li>
              <li><a href="http://www.nature.nps.gov/biology/">Biological Resources</a></li>
              <li><a href="/subjects/climatechange/index.htm">Climate Change</a></li>
              <li><a href="http://www.nature.nps.gov/protectingrestoring/">Environmental Quality</a></li>
              <li><a href="http://www.nature.nps.gov/geology/">Geologic Resources</a></li>
              <li><a href="http://science.nature.nps.gov/im/index.cfm">Inventory &amp; Monitoring</a></li>
              <li><a href="http://www.nature.nps.gov/nnl/">National Natural Landmarks</a></li>
              <li><a href="http://www.nature.nps.gov/sound_night/">Natural Sounds &amp; Night Skies</a></li>
              <li><a href="http://www.nature.nps.gov/partnerships.cfm">Partnerships</a></li>
              <li><a href="http://www.nature.nps.gov/multimedia.cfm">Photos &amp; Multimedia</a></li>
              <li><a href="http://www.nature.nps.gov/publications.cfm">Publications</a></li>
              <li><a href="http://www.nature.nps.gov/rlc/">Research Learning Centers</a></li>
              <li><a href="http://www.nature.nps.gov/scienceresearch.cfm">Science &amp; Research</a></li>
              <li><a href="http://www.nature.nps.gov/socialscience/">Social Science</a></li>
              <li><a href="http://www.nature.nps.gov/water/">Water Resources</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/getinvolved/" class="dropdown-toggle" data-toggle="dropdown">Get Involved</a>
              <ul class="dropdown-menu">
                <li><a href="/getinvolved/volunteer.htm">Volunteer</a></li>
                <li><a href="/getinvolved/donate.htm">Donate</a></li>
                <li><a href="/getinvolved/partner.htm">Partner</a></li>
                <li><a href="/getinvolved/doyourpart.htm">Do Your Part</a></li>
              </ul>
          </li>
          <li class="dropdown">
            <a href="/communities/" class="dropdown-toggle" data-toggle="dropdown">Working with Communities</a>
            <ul class="dropdown-menu">
              <li><a href="/tps/tax-incentives.htm">Tax Incentives</a></li>
              <li><a href="/history/nr">National Register of Historic Places</a></li>
              <li><a href="/history/grants.htm">Preservation</a></li>
              <li><a href="/lwcf">Outdoor Recreation</a></li>
              <li><a href="/nts">National Historic Trails</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/teachers/" class="dropdown-toggle" data-toggle="dropdown">Teachers</a>
            <ul class="dropdown-menu">
              <li><a href="/teachers/classrooms.htm">Parks as Classrooms</a></li>
              <li><a href="/teachers/development.htm">Professional Development</a></li>
              <li><a href="/teachers/distancelearning.htm">Distance Learning</a></li>
            </ul>
          </li>
          <li><a href="/kids/">Kids</a></li>
          <li class="dropdown">
            <a href="/aboutus/" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
            <ul class="dropdown-menu">
              <li><a href="/aboutus/workwithus.htm">Work With Us</a></li>
              <li><a href="/aboutus/jobsforstudents.htm">Jobs for Students</a></li>
              <li><a href="/aboutus/budget.htm">Budget</a></li>
              <li><a href="/aboutus/doingbusinesswithus.htm">Doing Business with Us</a></li>
              <li><a href="/aboutus/lawsandpolicies.htm">Laws &amp; Policies</a></li>
              <li><a href="/aboutus/publications.htm">Publications</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>