
<style>
    
.tools-mobile {
  background-color: #f9f7f3;
  display: inline-block;
  padding: 20px 50px;
  width: 100%;
}
    .tools-mobile H3 {
        color: #959284;
        font-family: arial,helvetica,sans-serif;
        
    }
    .tools-mobile a {
        color: black;
        text-decoration: underline;
    }
    
.social-connect-mobile {
      float:left;   
}
.social-connect-mobile ul {
      border-bottom: none;
      margin: 0;
      padding:0 0 0 0;
    }
    .social-connect-mobile li {
      list-style: none;
      padding: 4px 0 3px;
      border: none;
    }
        .social-connect-mobile li a {
          background: url("http://www.nps.gov/common/commonspot/templates/images/icons/nps_social_badges_2015_color.png") no-repeat;
          color: #706d5f;
          font-size: 12px;
          line-height: 14px;
          font-weight: bold;
          padding-left: 26px;
          height: 20px;
          display: block;
        }
/* SM Icons
   ==================================================
   ================================================== */
    .social-connect-mobile .cwu-facebook a {
      background-position: 0 0
    }
    .social-connect-mobile .cwu-twitter a {
      background-position: 0 -27px
    }
    .social-connect-mobile .cwu-instagram a {
      background-position: 0 -54px
    }
    .social-connect-mobile .cwu-youtube a {
      background-position: 0 -83px
    }
    .social-connect-mobile .cwu-flickr a {
      background-position: 0 -112px
    }
    .social-connect-mobile .cwu-tumblr a {
      background-position: 0 -140px
    }
    .social-connect-mobile .cwu-foursquare a {
      background-position: 0 -170px
    }
    .social-connect-mobile .cwu-pinterest a {
      background-position: 0 -200px
    }
    .social-connect-mobile .cwu-more a {
      background-position: 0 -230px
    }
    
.park-tools-mobile {
      float:left;   
}
.park-tools-mobile ul{
      border-bottom: none;
      margin-bottom: 0;
      margin-right: 40px;
	  padding: 5px 10px 10px 0;
    }
    .park-tools-mobile li {	
        background: url("http://www.nps.gov/common/commonspot/templates/images/bg/park-tools.png") no-repeat;
        border: none;
        padding: 2px 0 4px 30px;
    }
    .park-tools-mobile li:first-child {
        border-bottom: 1px solid #E4E3DF;
        margin-bottom: 8px;
        padding-bottom: 10px;
        padding-top: 0;
    }
    .park-tools-mobile li a {
          color: #706d5f;
          font-size: 12px;
          line-height: 14px;
          font-weight: bold;
          padding:0;
          height: 20px;
          display: block;
    }
.park-tools-mobile .timeline {
	background-position: 0px 0px;
}
.park-tools-mobile .faqs {
	background-position: 2px -31px;
}
.park-tools-mobile .context {
	background-position: 2px -51px;
}
.park-tools-mobile .index {
	background-position: 2px -71px;
}
.park-tools-mobile .spanish {
	background-position: 2px -92px;
}
</style>




<!-- DESKTOP - Breadcrumbs -->
<div class="breadcrumb-container hidden-sm hidden-xs">
  <div class="breadcrumbs container">
    <div id="sm-control">
      <a href="javascript:void(0);">Site Map</a>
    </div>
  </div>
</div>
<!-- DESKTOP - Sitemap -->
<div class="hidden-sm hidden-xs" id="site-map-container">
  <div class="footer-gradient"></div>
  <div class="clearfix container footer-search-container ">
    <div class="search">
      <form method="get" action="/search/index.htm" class="footer-search">
        <label for="footer-query">Search</label>
        <input class="footer-query" type="text" name="query" placeholder="Search NPS.gov">
        <input type="hidden" name="as_sfid" value="AAAAAAU/aZVVek4RUcjrj3bRTwnnvoL24FnX//LofCzPL/fb1DPM8z2+u/fOvE68ojl/IVrBYW5wtwTjcSKbVkfBOdBGIYPyJ/jnbe3Wxkgd+tj+bw==">
        <input type="hidden" name="as_fid" value="c74TVlcMvoKuIla9AQGD">
      </form>
    </div>
    <div class="search-control">
      <form method="get" action="/findapark">
        <label for="park-query">Find a Park</label><br>
        <select id="park-query">
          <option value="">Select a State</option> 
          <option value="/state/al/index.htm?program=parks">Alabama</option>
          <option value="/state/ak/index.htm?program=parks">Alaska</option>
          <option value="/state/as/index.htm?program=parks">American Samoa</option>
          <option value="/state/az/index.htm?program=parks">Arizona</option>
          <option value="/state/ar/index.htm?program=parks">Arkansas</option>
          <option value="/state/ca/index.htm?program=parks">California</option>
          <option value="/state/co/index.htm?program=parks">Colorado</option>
          <option value="/state/ct/index.htm?program=parks">Connecticut</option>
          <option value="/state/de/index.htm?program=parks">Delaware</option>
          <option value="/state/dc/index.htm?program=parks">District of Columbia</option>
          <option value="/state/fl/index.htm?program=parks">Florida</option>
          <option value="/state/ga/index.htm?program=parks">Georgia</option>
          <option value="/state/gu/index.htm?program=parks">Guam</option>
          <option value="/state/hi/index.htm?program=parks">Hawaii</option>
          <option value="/state/id/index.htm?program=parks">Idaho</option>
          <option value="/state/il/index.htm?program=parks">Illinois</option>
          <option value="/state/in/index.htm?program=parks">Indiana</option>
          <option value="/state/ia/index.htm?program=parks">Iowa</option>
          <option value="/state/ks/index.htm?program=parks">Kansas</option>
          <option value="/state/ky/index.htm?program=parks">Kentucky</option>
          <option value="/state/la/index.htm?program=parks">Louisiana</option>
          <option value="/state/me/index.htm?program=parks">Maine</option>
          <option value="/state/md/index.htm?program=parks">Maryland</option>
          <option value="/state/ma/index.htm?program=parks">Massachusetts</option>
          <option value="/state/mi/index.htm?program=parks">Michigan</option>
          <option value="/state/mn/index.htm?program=parks">Minnesota</option>
          <option value="/state/ms/index.htm?program=parks">Mississippi</option>
          <option value="/state/mo/index.htm?program=parks">Missouri</option>
          <option value="/state/mt/index.htm?program=parks">Montana</option>
          <option value="/state/ne/index.htm?program=parks">Nebraska</option>
          <option value="/state/nv/index.htm?program=parks">Nevada</option>
          <option value="/state/nh/index.htm?program=parks">New Hampshire</option>
          <option value="/state/nj/index.htm?program=parks">New Jersey</option>
          <option value="/state/nm/index.htm?program=parks">New Mexico</option>
          <option value="/state/ny/index.htm?program=parks">New York</option>
          <option value="/state/nc/index.htm?program=parks">North Carolina</option>
          <option value="/state/nd/index.htm?program=parks">North Dakota</option>
          <option value="/state/mp/index.htm?program=parks">Northern Mariana Islands</option>
          <option value="/state/oh/index.htm?program=parks">Ohio</option>
          <option value="/state/ok/index.htm?program=parks">Oklahoma</option>
          <option value="/state/or/index.htm?program=parks">Oregon</option>
          <option value="/state/pa/index.htm?program=parks">Pennsylvania</option>
          <option value="/state/pr/index.htm?program=parks">Puerto Rico</option>
          <option value="/state/ri/index.htm?program=parks">Rhode Island</option>
          <option value="/state/sc/index.htm?program=parks">South Carolina</option>
          <option value="/state/sd/index.htm?program=parks">South Dakota</option>
          <option value="/state/tn/index.htm?program=parks">Tennessee</option>
          <option value="/state/tx/index.htm?program=parks">Texas</option>
          <option value="/state/ut/index.htm?program=parks">Utah</option>
          <option value="/state/vt/index.htm?program=parks">Vermont</option>
          <option value="/state/vi/index.htm?program=parks">Virgin Islands</option>
          <option value="/state/va/index.htm?program=parks">Virginia</option>
          <option value="/state/wa/index.htm?program=parks">Washington</option>
          <option value="/state/wv/index.htm?program=parks">West Virginia</option>
          <option value="/state/wi/index.htm?program=parks">Wisconsin</option>
          <option value="/state/wy/index.htm?program=parks">Wyoming</option>
        </select>
        <input type="submit" value="Submit" style="display:none;">
        <input type="hidden" name="as_sfid" value="AAAAAAUKLIfgS0Dlxjq0Q+oWIu7yC30WEF6r+FQOyPTA3rq67ot+hOVH1dp2c8JpFF42vtwJGvZre/oX6scJG1oLgDCSfQBk1cV0kUITIBUHW8VIWw==">
        <input type="hidden" name="as_fid" value="xnF6xxBk+WcGVlekmyRd">
      </form>
    </div>
  </div>
  <div class="clearfix container" id="site-map">
    <ul>
      <li><h3><a href="http://www.nature.nps.gov/">Explore Nature</a></h3></li>
      <li>
        <ul>
          <li><a href="http://www.nature.nps.gov/air/">Air Resources</a></li>
          <li><a href="http://www.nature.nps.gov/biology/">Biological Resources</a></li>
          <li><a href="http://www.nature.nps.gov/climatechange/">Climate Change</a></li>
          <li><a href="http://www.nature.nps.gov/protectingrestoring/">Environmental Quality</a></li>
          <li><a href="http://www.nature.nps.gov/geology/">Geologic Resources</a></li>
          <li><a href="http://www.nature.nps.gov/helpyourparks.cfm">Help Your Parks</a></li>
          <li><a href="http://science.nature.nps.gov/im/index.cfm">Inventory &amp; Monitoring</a></li>
          <li><a href="http://www.nature.nps.gov/nnl/">National Natural Landmarks</a></li>
          <li><a href="http://www.nature.nps.gov/naturalsounds/">Natural Sounds &amp; Night Skies</a></li>
          <li><a href="http://www.nature.nps.gov/partnerships.cfm">Partnerships</a></li>
          <li><a href="http://www.nature.nps.gov/multimedia.cfm">Photos &amp; Multimedia</a></li>
          <li><a href="http://www.nature.nps.gov/publications.cfm">Publications</a></li>
          <li><a href="http://www.nature.nps.gov/scienceresearch.cfm">Science &amp; Research</a></li>
          <li><a href="http://www.nature.nps.gov/socialscience/">Social Science</a></li>
          <li><a href="http://www.nature.nps.gov/water/">Water Resources</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li><h3><a href="/history/">Discover History</a></h3></li>
      <li>
        <ul>
          <li><a href="/history/people.htm">People</a></li>
          <li><a href="/history/places.htm">Places</a></li>
          <li><a href="/history/Stories.htm">Stories</a></li>
          <li><a href="/history/preservation.htm">Preservation</a></li>
          <li><a href="/history/collections.htm">Collections</a></li>
          <li><a href="/history/travelers.htm">For Travelers</a></li>
          <li><a href="/history/teachers.htm">For Teachers</a></li>
          <li><a href="/history/kids.htm">For Kids</a></li>
          <li><a href="/history/publications.htm">Publications</a></li>
          <li><a href="/history/about.htm">About Our Programs</a></li>
        </ul>
      </li>
      <li><h3 class="top-space"><a href="/webrangers/">Kids</a></h3></li>
      <li>
        <ul>
          <li><a href="/learn/juniorranger.cfm">Junior Rangers</a></li>
          <li><a href="/webrangers/">WebRangers</a></li>
          <li><a href="/learn/parkfun.cfm">Park Fun</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li><h3><a href="/teachers/">Teachers</a></h3></li>
      <li>
        <ul>
          <li><a href="/teachers/classrooms.htm">Parks as Classrooms</a></li>
          <li><a href="/teachers/development.htm">Professional Development</a></li>
          <li><a href="/teachers/distancelearning.htm">Distance Learning</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li><h3><a href="/getinvolved/index.htm">Get Involved</a></h3></li>
      <li>
        <ul>
          <li><a href="/getinvolved/volunteer.htm">Volunteer</a></li>
          <li><a href="/getinvolved/donate.htm">Donate</a></li>
          <li><a href="/getinvolved/partner.htm">Partner</a></li>
          <li><a href="/getinvolved/doyourpart.htm">Do Your Part</a></li>
        </ul>
      </li>
      <li><h3 class="top-space"><a href="/communities/">Working with Communities</a></h3></li>
      <li>
        <ul>
          <li><a href="/history/hps/tps/tax/">Tax Incentives</a></li>
          <li><a href="/history/nr">National Register of Historic Places</a></li>
          <li><a href="/history/grants.htm">Preservation</a></li>
          <li><a href="/lwcf">Outdoor Recreation</a></li>
          <li><a href="/nts">National Historic Trails</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li><h3><a href="/aboutus/">About Us</a></h3></li>
      <li>
        <ul>
          <li><a href="/aboutus/workwithus.htm">Work With Us</a></li>
          <li><a href="/aboutus/jobsforstudents.htm">Jobs for Students</a></li>
          <li><a href="/aboutus/budget.htm">Budget</a></li>
          <li><a href="/aboutus/doingbusinesswithus.htm">Doing Business with Us</a></li>
          <li><a href="/aboutus/lawsandpolicies.htm">Laws &amp; Policies</a></li>
          <li><a href="/aboutus/publications.htm">Publications</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- DESKTOP - Footer -->
<div class="footer-container hidden-sm hidden-xs">
  <div class="clearfix container footer">
    <div class="top clearfix">
      <a href="http://www.doi.gov/">
        <div class="text-logo"></div>
      </a>
      <div class="slogan"></div>
    </div>
    <ul class="links">
      <li>
        <a href="/faqs.htm">Frequently Asked Questions</a>
      </li>
      <li>
        <a href="/aboutus/website-policies.htm">Website Policies</a>
      </li>
      <li>
        <a href="/contacts.htm">Contact Us</a>
      </li>
    </ul>
    <ul class="social">
      <li class="youtube">
        <a href="http://www.youtube.com/nationalparkservice">YouTube</a>
      </li>
      <li class="itunes">
        <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewArtistLegacy?cc=us&amp;id=216751324">iTunes</a>
      </li>
    </ul>
    <ul class="social">
      <li class="facebook">
        <a href="http://www.facebook.com/nationalparkservice">Facebook</a>
      </li>
      <li class="twitter">
        <a href="http://twitter.com/natlparkservice">Twitter</a>
      </li>
    </ul>
    <div class="updated">
      <p>Last Updated: 12/12/2014</p>
    </div>
  </div>
</div>



<!-- MOBILE - tools -->
<div class="tools-mobile hidden-md">
    
    
    <div class="park-tools-mobile">
      <h3>Park Tools:</h3>
      <ul>
        <li class="map">
          <a class="colorbox-iframe-map" href="/common/commonspot/customcf/apps/maps/showmap.cfm?alphacode=yose&parkname=Yosemite" name="Yosemite Map">View Park Map</a>
        </li>
        <li class="faqs">
          <a href="/yose/faqs.htm"><abbr title="Frequently Asked Questions">FAQs</abbr></a>
        </li>
        <li class="context">
          <a href="/yose/contacts.htm">Contact Us</a>
        </li>
        <li class="index">
          <a href="/yose/siteindex.htm">Site Index</a>
        </li>
        <li class="spanish">
          <a href="/yose/espanol/index.htm">Español</a>
        </li>
      </ul>
    </div>

    <div class="social-connect-mobile">
        <H3>Find Us On:</H3>
        <ul>
            <li class="cwu-facebook">
              <a href="http://www.facebook.com/YosemiteNPS">Facebook</a>
            </li>
            <li class="cwu-twitter">
              <a href="http://www.twitter.com/YosemiteNPS">Twitter</a>
            </li>
            <li class="cwu-youtube">
              <a href="http://www.youtube.com/user/yosemitenationalpark">YouTube</a>
            </li>
            <li class="cwu-more">
              <a href="http://www.nps.gov/yose/parknews/socialmedia.htm">More</a>
            </li>
        </ul>
    </div>



</div>





<div class="footer-mobile hidden-lg hidden-md">
  <div class="top">
    <div>
      <a href="http://www.doi.gov/">
        <div class="logo"></div>
      </a>
      <a href="http://www.doi.gov/">
        <div class="text-logo"></div>
      </a>
    </div>
    <div class="hidden-xs slogan"></div>
  </div>
  <div>
    <ul class="links">
      <li><a href="/faqs.htm">Frequently Asked Questions</a></li>
      <li><a href="/aboutus/website-policies.htm">Website Policies</a></li>
      <li><a href="/contacts.htm">Contact Us</a></li>
    </ul>
    <ul class="social">
      <li class="youtube"><a href="http://www.youtube.com/nationalparkservice" onclick="">YouTube</a></li>
      <li class="itunes"><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewArtistLegacy?cc=us&amp;id=216751324" onclick="">iTunes</a></li>
    </ul>
    <ul class="social">
      <li class="facebook"><a href="http://www.facebook.com/nationalparkservice" onclick="">Facebook</a></li>
      <li class="twitter"><a href="http://twitter.com/natlparkservice" onclick="">Twitter</a></li>
    </ul>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.nps.gov/npmap/bootstrap/3.3.2/dist/js/nps-bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/libs/colorbox/jquery.colorbox-min.js"></script>
<script src="{{ site.baseurl }}/assets/libs/picturefill/picturefill.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/global.js"></script>
{% if page.js %}
  {% for file in page.js %}
<script src="{{ file }}"></script>
  {% endfor %}
{% endif %}