<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="" name="author">
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="http://www.nps.gov/common/commonspot/templates/images/icons/favicon.ico" rel="shortcut icon">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://www.nps.gov/npmap/bootstrap/3.2.0/dist/css/nps-bootstrap.min.css" rel="stylesheet">
  <link href="/assets/libs/colorbox/colorbox.css" rel="stylesheet">
  <link href="/assets/libs/slick/slick.css" rel="stylesheet">
  <link href="/assets/css/nps.css" rel="stylesheet">
  <link href="/assets/css/print.css" rel="stylesheet">
{% if page.css %}
  {% for stylesheet in page.css %}
  <link href="{{ stylesheet }}" rel="stylesheet">
  {% endfor %}
{% endif %}
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>Yosemite National Park (U.S. National Park Service)</title>
</head>