<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="" name="author">
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/common/commonspot/templates/images/icons/windows-8-tile.png">
  <link href="{{ site.baseurl }}/common/commonspot/templates/images/icons/favicon.ico" rel="shortcut icon">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/common/commonspot/templates/images/icons/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/common/commonspot/templates/images/icons/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/common/commonspot/templates/images/icons/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/common/commonspot/templates/images/apple-touch-icon-57x57-precomposed.png">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://www.nps.gov/npmap/bootstrap/3.3.2/dist/css/nps-bootstrap.min.css" rel="stylesheet">
{% if page.css %}
  {% for stylesheet in page.css %}
  <link href="{{ stylesheet }}" rel="stylesheet">
  {% endfor %}
{% endif %}
  <link href="{{ site.baseurl }}/assets/libs/colorbox/colorbox.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/nps.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/print.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>Yosemite National Park (U.S. National Park Service)</title>
</head>