
<style>
.admin-buttons {
    margin: 0 0 30px 20px;
}
.admin-buttons a {
	font-weight: bold;
	font-size: 12px;
	color: #51652A;
    display: block;
}
.login {
    background: url("http://www.nps.gov/common/commonspot/templates/images/chrome/utils/icon_lock.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 18px;
    clear: both;
}
.logout {
    background: url("http://www.nps.gov/common/commonspot/templates/images/chrome/utils/icon_lock.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 18px;
    clear: both;
}
.admin-buttons a.siteadmin {
    background: url("http://www.nps.gov/common/commonspot/templates/images/chrome/utils/icon_gear.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 18px;
    clear: both;
}
</style>





        
<!-- xxxxxxxxxxx NEW CODE FOR CMS ADMINS xxxxxxxxx -->     
<div class="admin-buttons">
    <a class="logout" href="logout.cfm">CMS Logout</a>
    <a class="siteadmin" href="/siteadmin/index.htm">Site Admin</a>
</div>
        
<!-- xxxxxxxxxxx END CODE FOR CMS ADMINS xxxxxxxxx -->








<div class="col-md-3 hidden-sm hidden-xs sub-nav-containerWidth">
  <div id="sub-nav">
    <div id="npsNav">
      <h2>Explore This Park</h2>
      <ul>
        <li class="active">
          <a href="/yose/index.htm" class="active">Park Home</a>
        </li>
        <li>
          <a href="/yose/planyourvisit/index.htm">Plan Your Visit</a>
        </li>
        <li>
          <a href="/yose/photosmultimedia/index.htm">Photos &amp; Multimedia</a>
        </li>
        <li>
          <a href="/yose/historyculture/index.htm">History &amp; Culture</a>
        </li>
        <li>
          <a href="/yose/naturescience/index.htm">Nature &amp; Science</a>
        </li>
        <li>
          <a href="/yose/forteachers/index.htm">For Teachers</a>
        </li>
        <li>
          <a href="/yose/forkids/index.htm">For Kids</a>
        </li>
        <li>
          <a href="/yose/parknews/index.htm">News</a>
        </li>
        <li>
          <a href="/yose/parkmgmt/index.htm">Management</a>
        </li>
        <li>
          <a href="/yose/supportyourpark/index.htm">Support Your Park</a>
        </li>
        <li class="last">
          <a href="/yose/supportyourpark/bookstore.htm">Bookstore</a>
        </li>
      </ul>
    </div>
    <div class="park-tools">
      <h2>Park Tools</h2>
      <ul>
        <li class="map">
          <a class="colorbox-iframe-map" href="/common/commonspot/customcf/apps/maps/showmap.cfm?alphacode=yose&parkname=Yosemite" name="Yosemite Map">View Park Map</a>
        </li>
        <li class="faqs">
          <a href="/yose/faqs.htm"><abbr title="Frequently Asked Questions">FAQs</abbr></a>
        </li>
        <li class="context">
          <a href="/yose/contacts.htm">Contact Us</a>
        </li>
        <li class="index">
          <a href="/yose/siteindex.htm">Site Index</a>
        </li>
        <li class="spanish">
          <a href="/yose/espanol/index.htm">Español</a>
        </li>
      </ul>
    </div>
    <div class="find-us">
      <h2>Find Us On</h2>
      <ul class="social-connect">
        <li class="cwu-facebook">
          <a href="http://www.facebook.com/YosemiteNPS">Facebook</a>
        </li>
        <li class="cwu-twitter">
          <a href="http://www.twitter.com/YosemiteNPS">Twitter</a>
        </li>
        <li class="cwu-youtube">
          <a href="http://www.youtube.com/user/yosemitenationalpark">YouTube</a>
        </li>
        <li class="cwu-more">
          <a href="http://www.nps.gov/yose/parknews/socialmedia.htm">More</a>
        </li>
      </ul>
    </div>
  </div>
</div>