<div class="col-md-3 hidden-sm hidden-xs sub-nav-containerWidth">
  <div id="sub-nav">
    <div id="npsNav">
      <h2>Explore This Subject</h2>
      <ul>
        <li class="active">
          <a href="#" class="active">Home</a>
        </li>
        <li>
          <a href="#">Understanding Climate Change</a>
        </li>
        <li>
          <a href="#">Effects in Parks</a>
        </li>
        <li>
          <a href="#">NPS Response</a>
        </li>
        <li>
          <a href="#">Photos &amp; Multimedia</a>
        </li>
        <li>
          <a href="#">Useful Resources</a>
        </li>
        <li>
          <a href="#">Get Involved</a>
        </li>
        <li>
          <a href="#">News</a>
        </li>
        <li class="last">
          <a href="#">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</div>