<div class="container">
  <!-- DESKTOP - Black bar -->
  <div class="hidden-sm hidden-xs row">
    <!-- LOGO -->
    <div class="col-md-9">
      <div class="logo"></div>
    </div>
    <!-- SEARCH -->
    <div class="col-md-3 search-large">
      <form action="http://www.nps.gov/search/index.htm" autocomplete="off" class="form-inline" id="global-search" method="get" role="form">
        <label class="visuallyhidden" for="header-query">Search</label>
        <input class="form-control" id="header-query" name="query" type="text">
        <input name="siteLimit" type="hidden" value="nps.gov/yose">
        <input name="as_sfid" type="hidden" value="AAAAAAVIXgb9Jvp45gBKLe5jrkoUEnJcCTlr9kt2dN_NFij81tXP8FBI_-ESDDp0brr3KUVKPFM5m83ZgsAyV6VSm16f4mlK3Dte5DM_k2J3pFGOkQ==">
        <input name="as_fid" type="hidden" value="5sPXH0SK9fPvqhVCFP2L">
        <span class="fa fa-search"></span>
      </form>
    </div>
  </div>
  <!-- DESKTOP - Nav -->
  <div class="desktop-nav hidden-sm hidden-xs">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/findapark/index.htm">Find a Park</a></li>
          <li class="dropdown">
            <a href="/history/" class="dropdown-toggle" data-toggle="dropdown">Discover History <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/history/people.htm">People</a></li>
              <li><a href="/history/places.htm">Places</a></li>
              <li><a href="/history/stories.htm">Stories</a></li>
              <li><a href="/history/preservation.htm">Preservation</a></li>
              <li><a href="/history/collections.htm">Collections</a></li>
              <li><a href="/history/travelers.htm">For Travelers</a></li>
              <li><a href="/history/teachers.htm">For Teachers</a></li>
              <li><a href="/history/kids.htm">For Kids</a></li>
              <li><a href="/history/publications.htm">Publications</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="nature.nps.gov" class="dropdown-toggle" data-toggle="dropdown">Explore Nature <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.nature.nps.gov/air/">Air Resources</a></li>
              <li><a href="http://www.nature.nps.gov/biology/">Biological Resources</a></li>
              <li><a href="/subjects/climatechange/index.htm">Climate Change</a></li>
              <li><a href="http://www.nature.nps.gov/protectingrestoring/">Environmental Quality</a></li>
              <li><a href="http://www.nature.nps.gov/geology/">Geologic Resources</a></li>
              <li><a href="http://science.nature.nps.gov/im/index.cfm">Inventory &amp; Monitoring</a></li>
              <li><a href="http://www.nature.nps.gov/nnl/">National Natural Landmarks</a></li>
              <li><a href="http://www.nature.nps.gov/sound_night/">Natural Sounds &amp; Night Skies</a></li>
              <li><a href="http://www.nature.nps.gov/partnerships.cfm">Partnerships</a></li>
              <li><a href="http://www.nature.nps.gov/multimedia.cfm">Photos &amp; Multimedia</a></li>
              <li><a href="http://www.nature.nps.gov/publications.cfm">Publications</a></li>
              <li><a href="http://www.nature.nps.gov/rlc/">Research Learning Centers</a></li>
              <li><a href="http://www.nature.nps.gov/scienceresearch.cfm">Science &amp; Research</a></li>
              <li><a href="http://www.nature.nps.gov/socialscience/">Social Science</a></li>
              <li><a href="http://www.nature.nps.gov/water/">Water Resources</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/getinvolved/" class="dropdown-toggle" data-toggle="dropdown">Get Involved <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/getinvolved/volunteer.htm">Volunteer</a></li>
              <li><a href="/getinvolved/donate.htm">Donate</a></li>
              <li><a href="/getinvolved/partner.htm">Partner</a></li>
              <li><a href="/getinvolved/doyourpart.htm">Do Your Part</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/communities/" class="dropdown-toggle" data-toggle="dropdown">Working with Communities <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/tps/tax-incentives.htm">Tax Incentives</a></li>
              <li><a href="/history/nr">National Register of Historic Places</a></li>
              <li><a href="/history/grants.htm">Preservation</a></li>
              <li><a href="/lwcf">Outdoor Recreation</a></li>
              <li><a href="/nts">National Historic Trails</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/teachers/" class="dropdown-toggle" data-toggle="dropdown">Teachers <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/teachers/classrooms.htm">Parks as Classrooms</a></li>
              <li><a href="/teachers/development.htm">Professional Development</a></li>
              <li><a href="/teachers/distancelearning.htm">Distance Learning</a></li>
            </ul>
          </li>
          <li><a href="/kids/">Kids</a></li>
          <li class="dropdown">
            <a href="/aboutus/" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
              <ul class="dropdown-menu" style="left:auto;right:0;">
                <li><a href="/aboutus/workwithus.htm">Work With Us</a></li>
                <li><a href="/aboutus/jobsforstudents.htm">Jobs for Students</a></li>
                <li><a href="/aboutus/budget.htm">Budget</a></li>
                <li><a href="/aboutus/doingbusinesswithus.htm">Doing Business with Us</a></li>
                <li><a href="/aboutus/lawsandpolicies.htm">Laws &amp; Policies</a></li>
                <li><a href="/aboutus/publications.htm">Publications</a></li>
              </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>
  </div>
  <!-- MOBILE - Black bar and nav -->
  <div class="hidden-lg hidden-md mobile-black-bar">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="National Park Service" class="img-responsive" src="/assets/img/chrome/logos/main-logoSmall.png">
        </a>
        <button class="navbar-toggle" data-target=".navbar-mobile" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button class="navbar-toggle navbar-toggle-search-mobile" data-target=".search-mobile" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle search</span>
          <i class="fa fa-lg fa-search"></i>
        </button>
      </div>
      <form action="http://www.nps.gov/search/index.htm" autocomplete="off" class="collapse row search-mobile" method="get" role="form">
        <div class="form-group">
          <div class="input-group">
            <label class="visuallyhidden" for="search-mobile-query">Search</label>
            <input class="form-control" id="search-mobile-query" name="query" type="text">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Search</button>
            </span>
          </div>
        </div>
        <input name="siteLimit" type="hidden" value="nps.gov/yose">
        <input name="as_sfid" type="hidden" value="AAAAAAVIXgb9Jvp45gBKLe5jrkoUEnJcCTlr9kt2dN_NFij81tXP8FBI_-ESDDp0brr3KUVKPFM5m83ZgsAyV6VSm16f4mlK3Dte5DM_k2J3pFGOkQ==">
        <input name="as_fid" type="hidden" value="5sPXH0SK9fPvqhVCFP2L">
      </form>
      <div class="collapse navbar-collapse navbar-mobile">
        <div>
          <h2>Yosemite National Park</h2>
          <ul>
            <li><a href="/yose/">Park Home</a></li>
            <li><a href="/yose/planyourvisit/">Plan Your Visit</a></li>
            <li><a href="#">Photos &amp; Multimedia</a></li>
            <li><a href="#">History &amp; Culture</a></li>
            <li><a href="#">Nature &amp; Science</a></li>
            <li><a href="#">For Teachers</a></li>
            <li><a href="#">For Kids</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Management</a></li>
            <li><a href="#">Support Your Park</a></li>
            <li><a href="#">Bookstore</a></li>
          </ul>
          <h2>National Park Service</h2>
          <ul>
            <li><a href="/findapark/index.htm">Find a Park</a></li>
            <li class="dropdown">
              <a href="/history/" class="dropdown-toggle" data-toggle="dropdown">Discover History</a>
              <ul class="dropdown-menu">
                <li><a href="/history/people.htm">People</a></li>
                <li><a href="/history/places.htm">Places</a></li>
                <li><a href="/history/stories.htm">Stories</a></li>
                <li><a href="/history/preservation.htm">Preservation</a></li>
                <li><a href="/history/collections.htm">Collections</a></li>
                <li><a href="/history/travelers.htm">For Travelers</a></li>
                <li><a href="/history/teachers.htm">For Teachers</a></li>
                <li><a href="/history/kids.htm">For Kids</a></li>
                <li><a href="/history/publications.htm">Publications</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="nature.nps.gov" class="dropdown-toggle" data-toggle="dropdown">Explore Nature</a>
              <ul class="dropdown-menu">
                <li><a href="http://www.nature.nps.gov/air/">Air Resources</a></li>
                <li><a href="http://www.nature.nps.gov/biology/">Biological Resources</a></li>
                <li><a href="/subjects/climatechange/index.htm">Climate Change</a></li>
                <li><a href="http://www.nature.nps.gov/protectingrestoring/">Environmental Quality</a></li>
                <li><a href="http://www.nature.nps.gov/geology/">Geologic Resources</a></li>
                <li><a href="http://science.nature.nps.gov/im/index.cfm">Inventory &amp; Monitoring</a></li>
                <li><a href="http://www.nature.nps.gov/nnl/">National Natural Landmarks</a></li>
                <li><a href="http://www.nature.nps.gov/sound_night/">Natural Sounds &amp; Night Skies</a></li>
                <li><a href="http://www.nature.nps.gov/partnerships.cfm">Partnerships</a></li>
                <li><a href="http://www.nature.nps.gov/multimedia.cfm">Photos &amp; Multimedia</a></li>
                <li><a href="http://www.nature.nps.gov/publications.cfm">Publications</a></li>
                <li><a href="http://www.nature.nps.gov/rlc/">Research Learning Centers</a></li>
                <li><a href="http://www.nature.nps.gov/scienceresearch.cfm">Science &amp; Research</a></li>
                <li><a href="http://www.nature.nps.gov/socialscience/">Social Science</a></li>
                <li><a href="http://www.nature.nps.gov/water/">Water Resources</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/getinvolved/" class="dropdown-toggle" data-toggle="dropdown">Get Involved</a>
                <ul class="dropdown-menu">
                  <li><a href="/getinvolved/volunteer.htm">Volunteer</a></li>
                  <li><a href="/getinvolved/donate.htm">Donate</a></li>
                  <li><a href="/getinvolved/partner.htm">Partner</a></li>
                  <li><a href="/getinvolved/doyourpart.htm">Do Your Part</a></li>
                </ul>
            </li>
            <li class="dropdown">
              <a href="/communities/" class="dropdown-toggle" data-toggle="dropdown">Working with Communities</a>
              <ul class="dropdown-menu">
                <li><a href="/tps/tax-incentives.htm">Tax Incentives</a></li>
                <li><a href="/history/nr">National Register of Historic Places</a></li>
                <li><a href="/history/grants.htm">Preservation</a></li>
                <li><a href="/lwcf">Outdoor Recreation</a></li>
                <li><a href="/nts">National Historic Trails</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/teachers/" class="dropdown-toggle" data-toggle="dropdown">Teachers</a>
              <ul class="dropdown-menu">
                <li><a href="/teachers/classrooms.htm">Parks as Classrooms</a></li>
                <li><a href="/teachers/development.htm">Professional Development</a></li>
                <li><a href="/teachers/distancelearning.htm">Distance Learning</a></li>
              </ul>
            </li>
            <li><a href="/kids/">Kids</a></li>
            <li class="dropdown">
              <a href="/aboutus/" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
              <ul class="dropdown-menu">
                <li><a href="/aboutus/workwithus.htm">Work With Us</a></li>
                <li><a href="/aboutus/jobsforstudents.htm">Jobs for Students</a></li>
                <li><a href="/aboutus/budget.htm">Budget</a></li>
                <li><a href="/aboutus/doingbusinesswithus.htm">Doing Business with Us</a></li>
                <li><a href="/aboutus/lawsandpolicies.htm">Laws &amp; Policies</a></li>
                <li><a href="/aboutus/publications.htm">Publications</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- DESKTOP - Banner -->
  <div class="hidden-sm hidden-xs row">
    <div class="col-md-12">
      <div class="bap">
        <div class="large">
          <img src="/assets/img/banner.jpg" class="img-responsive" alt="Rainbow over Half Dome" title="Rainbow over Half Dome">
          <div class="title">
            <div class="bapTitleBox">
              <h1>Yosemite</h1>
            </div>
            <div class="sub">
              <h3>National Park <span class="location">California </span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MOBILE - Banner -->
  <span class="hidden-lg hidden-md">
    <div class="row">
      <div class="col-md-12">
        <div class="bap-mobile">
          <img src="/assets/img/banner.jpg" class="img-responsive" alt="Rainbow over Half Dome" title="Rainbow over Half Dome">
          <div class="title">
            <h1>Yosemite</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 bap-mobile">
        <div class="sub">
          <h3>National Park <span class="location">California</span></h3>
        </div>
      </div>
    </div>
  </span>
  <!-- DESKTOP - Alerts -->
  <div class="hidden-sm hidden-xs row">
    <div class="col-md-12">
      <div class="alert parkAlerts alert-danger alert-dismissible" role="alert" style="padding-left:23px;">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 style="font-size:14px;">Seasonal Road Closures</h4>
        <p>Seasonal road closures are in effect for motorized vehicles. Closures include portions of the Teton Park Road (Taggart Lake TH to Signal Mt. Lodge), Moose-Wilson Road (Granite Canyon TH to Death Canyon Road), Antelope Flats Road and Grassy Lake Road. <a class="more" href="#">More</a></p>
      </div>
    </div>
  </div>
  <!-- DESKTOP - Utilities -->
  <div class="hidden-sm hidden-xs row">
    <div class="col-md-12">
      <div class="utilsWrapper">
        <div class="utils">
          <div class="text-sizes">
            <span class="small"><a href="javascript:void(0);">small</a></span>
            <span class="medium"><a href="javascript:void(0);" class="active">medium</a></span>
            <span class="large"><a href="javascript:void(0);">large</a></span>
          </div>
          <div class="print"><a href="javascript:void(0);">print</a></div>
        </div>
      </div>
    </div>
  </div>
</div>