<!-- Utilities -->
<div class="hidden-sm hidden-xs row">
  <div class="col-md-12">
    <div class="utilsWrapper">
      <div class="utils">
        <div class="text-sizes">
          <span class="small"><a href="javascript:void(0);">small</a></span>
          <span class="medium"><a href="javascript:void(0);" class="active">medium</a></span>
          <span class="large"><a href="javascript:void(0);">large</a></span>
        </div>
        <div class="print"><a href="javascript:void(0);">print</a></div>
      </div>
    </div>
  </div>
</div>