.subjectSiteContent {
    margin-left: 10px;
}


.tiles {
  margin: 0 0 0 0 !important;
  padding: 0;
}
@media (min-width: 992px) {
  .tiles {
    width: 692px;
  }
}
.tiles li {
  float: left;
  list-style: none outside none;
  height: 262px;
  margin: 0 10px 19px 0;
  padding: 0;
  position: relative;
  width: 336px;
}
@media (max-width:767px) {
    .tiles li {
      width: 316px;
    }
}
    
    
    
    
.tiles .title {
  background: url("http://www.nps.gov/common/commonspot/templates/images/bg/transparent-70.png") repeat scroll 0 0 transparent;
  bottom: 0;
  margin: 13px 11px;
  padding: 8px 13px;
  position: absolute;
  width: 288px;
}
.tiles .title h3 {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  margin: 0px;
}
.tiles .description a {
  font-size: 16px;
}
.tiles li:hover {
  cursor: pointer;
}
.tiles img {
  display: block;
  width: 100%;
}
.tiles .show-info {
  background: url("http://www.nps.gov/common/commonspot/templates/images/bg/tile-info.jpg") repeat scroll 0 0 transparent;
  height: 262px;
  padding: 32px 28px;
  width: 336px;
}
@media (max-width:767px) {
    .tiles .show-info {
      width: 316px;
    }
}



.tiles .show-info .title {
  background: none;
  bottom: auto;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: auto;
}
.tiles .show-info h3 {
  color: #464646;
  margin-bottom: 13px;
}
.tiles .show-info .description p {
  color: #706d5f;
  font-size: 16px; 
  line-height: 22px;
}
.tiles .show-info .description a {
  font-weight: bold;
}
.tiles .show-info img {
  display: none;
}
.tilesPageTitle {
  margin: 0 10px 0 20px;
}
.tilesTitle h2 {
  color: #5e7630;
  font-size: 24px;
  font-weight: bold;
}
