@charset "utf-8";
/* CSS Document */




/* Sub navigation */
	.sub-nav-containerWidth {
	width: 207px;
}

#sub-nav {
    float: left;
   	position: relative;
	padding: 0;
	margin: 0 0 0 -10px;
}
#sub-nav h2 {
    border-bottom: 1px solid #e4e2dd;
    color: #804711;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 16px;
    padding-left: 27px;
}
#sub-nav ul {
	padding: 5px 0 0 25px;
	list-style-type: none;
}
#sub-nav li {
    border-top: 1px solid #e4e2dd;
    line-height: 14px;
}
#sub-nav li:first-child {
	border: none;
}
#sub-nav a {
    color: #737062;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2857;
    padding: 7px 0;
}
#sub-nav a:hover {
    color: #706d5f;
}
#sub-nav a.active,
#sub-nav .sub a.active {
	color: #607832;
	font-weight: bold;
}
#sub-nav .sub>a,
#sub-nav .sub .sub>a{
	background: url(../images/icons/nav-pointer.png) no-repeat right .9em;
	font-weight: bold;
	/*padding-right: 20px;*/
	color: #647630;
}
#sub-nav li ul {
	padding: 0 0 4px 15px;
}
#sub-nav li li {

	border: none;
	
}
#sub-nav .sub li a{
	background: none;
	color: #727163; /* Changed from #7f7e6e - 508 Compliance - Dan */
	font-size: 12px;
	font-weight: normal;
	padding: 5px 0 4px 0;
}
#sub-nav .park-tools {	
	background-color: #fff;
	border: 1px solid #e4e3df;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	margin: 24px 0 0 25px;
	width: 158px;
}
#sub-nav .park-tools h2 {
    background-color: #737062;
	color: #fff;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 2px 0 0 6px;
}
#sub-nav .park-tools ul {	
	padding: 16px 10px 10px;
}
#sub-nav .park-tools li {	
	background: url(../img/chrome/park-tools.png) no-repeat;
	border: none;
	padding: 2px 0 4px 30px;
}
#sub-nav .park-tools li:first-child {
    border-bottom: 1px solid #E4E3DF;
    margin-bottom: 8px;
    padding-bottom: 17px;
    padding-top: 4px;
}
#sub-nav .share li:first-child {
	border: none;
	padding: 2px 0 3px 30px;
	margin: 0px;
}
#sub-nav .park-tools li a {
	font-size: 12px;
	line-height: 14px;
	padding: 0;
}





#sub-nav .find-us {	
	background-color: #fff;
	border: 1px solid #e4e3df;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	margin: 24px 0 0 25px;
	width: 158px;
}

#sub-nav .find-us h2 {
    background-color: #737062;
	color: #fff;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 2px 0 0 6px;
}

#sub-nav .find-us ul {	
	/*padding: 1px 20px 1px;*/	
	padding: 16px 20px 10px;
}

#sub-nav .find-us li a {
	padding: 0;
	margin-bottom:2px;
}

#sub-nav .social-connect ul {
	border-bottom: none;
	margin-bottom: 0;
}

#sub-nav .social-connect li {
	/*border-bottom: none;*/
	padding: 4px 0 3px;
	list-style: none;
	border:none;	
}

#sub-nav .social-connect li a {
	background: url(../img/chrome/connect-icons.gif) no-repeat;
	color: #706d5f;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding-left: 26px;
	height:18px;
	display: block;
}

/* SM Icons */
#sub-nav .social-connect li a:hover { text-decoration: underline; }

#sub-nav .social-connect .cwu-facebook a { background-position: 0 -2px; }

#sub-nav .social-connect .cwu-facebook a:hover { background-position: 0 -125px; }

#sub-nav .social-connect .cwu-flickr a { background-position: 0 -73px; }

#sub-nav .social-connect .cwu-flickr a:hover { background-position: 0 -196px; }

#sub-nav .social-connect .cwu-more a { background-position: 0 -97px; }

#sub-nav .social-connect .cwu-more a:hover { background-position: 0 -220px; }

#sub-nav .social-connect .cwu-twitter a { background-position: 0 -26px; }

#sub-nav .social-connect .cwu-twitter a:hover { background-position: 0 -149px; }

#sub-nav .social-connect .cwu-youtube a { background-position: 0 -49px; }

#sub-nav .social-connect .cwu-youtube a:hover { background-position: 0 -172px; }
















#sub-nav .share .facebook {
	background-position: 5px 3px;
}
#sub-nav .share .twitter {
	background-position: 5px -16px;
}
#sub-nav .share .youtube {
	background-position: 5px -37px;
}
#sub-nav .share .flickr {
	background-position: 5px -56px;
}
#sub-nav .park-tools .timeline {
	background-position: 0px 0px;
}
#sub-nav .park-tools .faqs {
	background-position: 2px -31px;
}
#sub-nav .park-tools .context {
	background-position: 2px -51px;
}
#sub-nav .park-tools .index {
	background-position: 2px -71px;
}
#sub-nav .park-tools .spanish {
	background-position: 2px -92px;
}
#sub-nav .park-tools li:first-child a {	
	font-size: 14px;
}

#sub-nav .share li:first-child a {	
	font-size: 12px;
}
#sub-nav .tags {
	margin: 35px 0 0 26px;
	width: 158px;	
}
#sub-nav .tags h2 {
	border: none;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 7px;
    padding: 0;
}
#sub-nav .tags ul {	
	padding: 0px;
}
#sub-nav .tags li {	
    border-top: medium none;
    float: left;
    margin: 0;
    padding: 0;
}
#sub-nav .tags a {	
	background: none repeat scroll 0 0 #FFFFFF;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
    border-radius: 3px;
    color: #7f7565;
    display: block;
    font-size: 11px;
    font-weight: normal;
    height: 8px;
    line-height: 8px;
    margin-bottom: 5px;
    margin-right: 6px;
    padding: 6px 7px;
    width: auto;
}
#sub-nav .tags a:hover {
	background-color: #916800;
	color: #FFFFFF;
	text-decoration: none;
}

