@charset "utf-8";
/* CSS Document */


/* delete these next two classes when done laying out the rows/columns */
[class*="col-"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
}
.row {
	margin-bottom:10px;
}
/* xxxxxxxxxxxxxxxxxxxxxxx DELETE EVERYTHING ABOVE THIS LINE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */




.chrome-center {
	margin:  0 auto;
	padding:0 4px 0;
	width: 960px;
}


.header-container {
	background-color: #000;
	height: 100px;
	width: 100%;
}
.header {
	background-color: #000;
	height: 100px;
	position: relative;
	z-index: 100;
}

/* Logo */
.header .logo {
	padding: 15px 0 0 6px;
}
.header .logo span, .logo a {
	display: block;
	height: 51px;
	width: 329px;
}
.header .logo span {
    background: url("http://www.nps.gov/common/commonspot/templates/images/chrome/logos/main-logo.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
.header .logo a {
    color: #000000;
    font-size: 12px;
    position: relative;
}

/* Search */
.header .search {
    background: url("http://www.nps.gov/common/commonspot/templates/images/chrome/bg/search_bg.png") no-repeat scroll left top transparent;
    height: 25px;
    font-size: 13px;
    position: absolute;
    right: 16px;
    top: 31px;
    width: 177px;
    z-index: 3;
}
.global-search input {
    background-color: #989898;
    border: medium none;
    color: #000000;
    height: 14px;
    line-height: 14px;
    padding: 6px 0 4px 0;
    position: absolute;
    right: 10px;
    top: 0;
    width: 140px;
}



