@charset "utf-8";
/* CSS Document */

/* delete these next two classes when done laying out the rows/columns 
[class*="col-"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
}
.row {
	margin-bottom:10px;
}


/* THESE ARE THE MEDIA QUERY TYPES FOR BOOTSTRAP */
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@media (max-width: 480px) and (orientation: landscape) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}

/* MODERN CLEARFIX */
.group:after {/*this is a clearfix to make parents expand with their children. Doesn't work in IE7 */
  content: "";
  display: table;
  clear: both;
}




body {
	background-color:#f5f0dd;
	background-image:none;
}
.wallpaper-parks {
	background: none;
}


@media (min-width: 992px) {
	body {
			background-image:url(../img/bg/blackbarBG.png);
			background-repeat: repeat-x;
	}
	.wallpaper-parks {
	background: #f5f0dd url(../img/chrome/wallpapers/parks.jpg) no-repeat scroll center bottom;
	width:100%;
	margin:0;
	padding:0;
	}
}



ul {
    list-style: none outside none;
}








.parkAlerts {
	margin: 5px 0 5px 0;
}


.middleContentArea {/* parent container for left nav and main content area */
	background-color:#f9f7f1;
	border-left: 1px solid #dfdbca;
	border-right: 1px solid #dfdbca;
	border-bottom: 1px solid #dfdbca;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.content-container {/* main content area */
	background-color:#FFF;
	padding: 30px 30px 0 30px;
	margin: 0;
}
	@media (min-width: 992px) {
		.content-container {
			/*margin-left: -30px; /* move the content area to the left. May cause some problems in certain browsers? Need to test. */
			width: 738px;
			margin: 5px 0 0 0;
			padding: 30px 24px 30px 24px;
			border: 1px solid #dfdbca;
			/* rounded top corners */
			-moz-border-radius-topleft: 2px;
			-moz-border-radius-topright: 2px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			/* drop shadow around content-container */
			-moz-box-shadow: 0 0 3px #cecece;
			-webkit-box-shadow: 0 0 3px #cecece;
			box-shadow: 0 0 3px #cecece;
		}
	}



.parkIntroText H2 {
	color: #000;
	font-size:24px;
	margin-top: 0;
}
.utilsWrapper {
	background-color:#f9f7f1;
	width: 100%;
	height:42px;
	padding:none;
	margin: none;
	border-left: 1px solid #dfdbca;
	border-right: 1px solid #dfdbca;
}


	
/* make the container fluid 100% at 991 and below */
@media screen and (max-width: 992px) {
	.container { width: auto; padding:0px; }
}

.chrome-center {
	margin:  0 auto;
	padding:0 4px 0;
	width: 960px;
}

/*.header-container {
	background-color: #000;
	height: 84px;
	width: 100%;
	padding-top: 15px;
}*/

.nopadding {
	padding:0;	
}




/* Logo */

	@media screen and (min-width: 768px) {
	.logo {
		background-image:url(../img/chrome/logos/main-logoMedium.png);
		background-repeat:no-repeat;
		margin-top: 1em;
		margin-bottom: .8em;
		margin-left: 6px;
		height:40px;
	}	
	}
	@media screen and (min-width: 992px) {
	.logo {
		background-image:url(../img/chrome/logos/main-logo.png);
		background-repeat:no-repeat;
		margin-top: 1.0em;
		margin-bottom: 1.4em;
		margin-left: 6px;
		height:51px;
	}	
	}
.logo a {
    color: #000000;
    font-size: 12px;
    position: relative;
}



.navbar .brand {
max-height: 40px;
overflow: visible;
padding-top: 0;
padding-bottom: 0;
}
.navbar a.navbar-brand {padding: 9px 15px 8px; }











/* Search Box */
.form-control {
  padding-left: 30px;
  margin: 30px 0 0 30px;
  height: 26px;
  width: 180px;
  border:0;
  background: rgb(255, 255, 255); /* Creates the solid bg for IE8 */
  background: rgba(255, 255, 255, 0.75); /* Creates the transparent bg for ALL OTHER BROWSERS */
  
}
.form-control + .glyphicon {
  position: absolute;
  left: 0;
  padding: 6px 20px;
  margin: 30px 0 0 30px;
}




/* Nav Bar */
/* TEST CHANGE */
	
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}
.navbar {
	background-image: -o-linear-gradient(bottom, #5F7832 0%, #425222 100%);
	background-image: -moz-linear-gradient(bottom, #5F7832 0%, #425222 100%);
	background-image: -webkit-linear-gradient(bottom, #5F7832 0%, #425222 100%);
	background-image: -ms-linear-gradient(bottom, #5F7832 0%, #425222 100%);
	background-image: linear-gradient(to bottom, #5F7832 0%, #425222 100%);
}
.navbar-inverse {
	background-image: -o-linear-gradient(bottom, #000 0%, #000 100%);
	background-image: -moz-linear-gradient(bottom, #000 0%, #000 100%);
	background-image: -webkit-linear-gradient(bottom, #000 0%, #000 100%);
	background-image: -ms-linear-gradient(bottom, #000 0%, #000 100%);
	background-image: linear-gradient(to bottom, #000 0%, #000 100%);
}
ul.nav a:hover { background-color: #b28000 !important; }

.nav > li > a {
  position: relative !important;;
  display: block !important;;
  padding: 6px 11px !important;;
}

/*add dividers between the nav items */
@media (min-width:992px){
  
  .navbar-default .navbar-nav > li:not(:last-child) {
    border-right:1px solid #455724;
   }
  .navbar-default .navbar-nav > li:not(:first-child) {
    border-left:1px solid #607339;
   }
}

/*  BLACK MOBILE NAVBAR */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
		padding-bottom: 5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}




/* Small Banner */
.bap-mobile {
	position: relative;
	overflow: hidden;
	z-index: 1;	
}
.bap-mobile .title {
	background: rgb(0, 0, 0); /* Creates the solid bg for IE8 */
	background: rgba(0, 0, 0, 0.5); /* Creates the transparent bg for ALL OTHER BROWSERS */
	bottom: 0;
    color: #FFFFFF;
	left: 0px;
	position: absolute;
	width: 100%;
}
	@media (max-width:599px){
		.bap-mobile .title {
			background: 0; /* Creates the solid bg for IE8 */
			background: 0; /* Creates the transparent bg for ALL OTHER BROWSERS */
			bottom: 0;
			left: 0px;
			position: absolute;
			width: 100%;
		}
	}
.bap-mobile .title H1 {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -0.7px;
    line-height: 45px;
    padding: 0 0 0 23px;
	margin:0px;
}
	@media (min-width:768px){
		.bap-mobile .title H1 {
			font-size: 40px;
			font-weight: normal;
			letter-spacing: -0.7px;
			line-height: 60px;
			padding: 0 0 0 23px;
			margin:0px;
		}
	}



.bap-mobile .sub h3 {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	margin: 0 0 0 22px;
    vertical-align: middle;
}
.bap-mobile .sub .location  {
	font-weight: normal;
	margin: 0 0 0 5px;
	padding: 0 0 0 5px;
	border-left: 1px solid #787777;
}




/* LARGE HOMEPAGE BANNER - BAP */
.bap {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.bap .title {
	/* TRANSPARENT STRIP BEHIND TEXT */
	background: rgb(0, 0, 0); /* Creates the solid bg for IE8 */
	background: rgba(0, 0, 0, 0.5); /* Creates the transparent bg for ALL OTHER BROWSERS */
	bottom: 0;
    color: #FFFFFF;
	left: 0px;
	height: 79px;
	position: absolute;
	width: 100%;
}
.bap .bapTitleBox {
	display: table;
	float: left;
	height: 79px;
}

.bap .bapTitleBox h1 {
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -0.7px;
    line-height: 79px;
    padding: 0 0 0 23px;
	margin:0px;
}
.no-js .bap .bapTitleBox h1 {
	line-height: 1.1;
	width: 700px;
}
.bap .large {  /* This gives us the larger image for home pages */
	height: 241px;
}
.bap .small {  /* This gives us the shorter image for interior pages */
	height: 148px;
	overflow: hidden;
}
.no-js .bap .title, .no-js .bap .bapTitleBox {
	height: auto;
}
.bap .bottom img {
	position: absolute;
	bottom: 0px;
}
.bap .top img {
	position: absolute;
	top: 0px;
}
.bap .sub {
    background: url("../img/bg/bap-border.png") no-repeat 26px 19px transparent;
    height: 79px;
   	display: table;
    padding-left: 52px;
}
.no-js .bap .sub {
	background: none;
	float: none;
	margin-left: 0px;
	margin-bottom: 15px;
}
.ie7 .bap .sub h2, .ie7 .bap .sub h3 { 
	position: relative; 
	margin-top: inherit;
	*clear: expression(
		style.marginTop = "" + (offsetHeight < parentNode.offsetHeight ? parseInt((parentNode.offsetHeight - offsetHeight) / 2) + "px" : "0"),
		style.clear = "none", 0
	);
}
.bap .sub h2 {
	color: #fff;
	display: table-cell;
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	margin-bottom: 0;
	vertical-align: middle;
	text-shadow: 2px 2px 3px #000;
}
.bap .sub h2 .details {
	display: block;
	font-weight: normal;
	font-size: 14px;
}
.bap .sub h3  {
	color: #fff;
 	display: table-cell;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
    vertical-align: middle;
}
.bap .sub .location  {
	display: block;
	font-weight: normal;
	margin-bottom: 0px;
}
.bap .sub .embedded {
	color: #cbcbcb;
	display: block;
	font-size: 10px;
	font-weight: bold;
}
.bap .sub p {
	text-shadow: 2px 2px 3px #000;
}
.bap .sub a {
	color: #fff;
	text-shadow: 2px 2px 3px #000;
}




/* Utilities area - Print and  */

.utils {
    float: right;
    margin: 17px 17px 10px 0;
}
.utils a {
    display: block;
    height: 14px;
    overflow: hidden;
    text-indent: -9999px;
}
.text-sizes {
	float: left;
}
.text-sizes .small a {
    background: url(../img/chrome/text-sizes.png) no-repeat scroll 0 -13px transparent;
    width: 7px;
	margin: 0 10px 0 0;
	float:left;
}
.text-sizes .small a:hover, 
.text-sizes .small .active {
	background-position: 0 0;
}
.text-sizes .medium a {
 	background: url(../img/chrome/text-sizes.png) no-repeat scroll -18px -13px transparent;
    width: 9px;
	margin: 0 10px 0 0;
	float:left;
}
.text-sizes .medium a:hover, 
.text-sizes .medium .active {
	background-position: -18px 0;
}
.text-sizes .large a {
    background: url(../img/chrome/text-sizes.png) no-repeat scroll -36px -13px transparent;
    width: 11px;
	float:right;
}
.text-sizes .large a:hover, 
.text-sizes .large .active {
	background-position: -36px 0;
}
.utils .print {
    margin-left: 15px;
    margin-top: 1px;
    width: 14px;
	float:right;
}
.utils .print a {
    background: url(../img/chrome/print.png) no-repeat scroll 0 0 transparent;
    width: 14px;
}
.utils .print a:hover {
   	background-position: 0 -14px;
}







/* ====================================================== */
/* ===========   CAROUSEL  ============================== */

.carouselWrapper{margin:auto;padding:40px;width:708px;}*/

@media (max-width: 420px) {
}
@media (max-width: 768px) {
.carouselWrapper{margin:auto;padding:20px 40px;width:auto;}


}

.carouselItem {
	width: 180px;
}
.carouselItem .image-wrapper {
	height: 105px;
	margin-bottom: 15px;
	overflow: hidden;
	width: 140px;
}
.carouselItem .image-wrapper img,
.carouselItem img {
	height: auto;
	width: 140px;
}
.carouselItem .image-wrapper {
	height: 140px;
}










/* ///////////////////////////////////////////////////////////////////// 
//  Footer
/////////////////////////////////////////////////////////////////////*/

/* Breadcrumbs */
.breadcrumb-container {
	background-color: #918f7e;
	height: 32px;
}
.breadcrumbs{
	background-color: #918f7e;
}
.breadcrumbs ul {
	float: left;
	height: 32px;
	overflow: hidden;
    width: 860px;
}
.breadcrumbs li {
    background: url(../img/chrome/bg/breadcrumb.png) no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 22px;
}
.breadcrumbs li a {
    color: #F5F0DD;
}
.breadcrumbs ul .home {
    background: none repeat scroll 0 0 transparent;
    margin-left: 15px;
    padding-left: 0;
    padding-top: 8px;
}
.breadcrumbs ul .home a {
    background: url(../img/chrome/bg/breadcrumb-home.png) no-repeat scroll 0 5px transparent;
    display: block;
    height: 13px;
    overflow: hidden;
    text-indent: -9999px;
    width: 55px;
}
.breadcrumbs ul .home a:hover {
   	border-bottom: 1px solid #F5F0DD;
}
.breadcrumbs #sm-control {
    float: right;
    margin-right: 16px;
    margin-top: 13px;
}
#sm-control a {
	background: url(../img/chrome/bg/sm-control.png) no-repeat scroll 0 -13px transparent;
	height: 10px;
	width: 72px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}
#sm-control .expanded {
    background: url(../img/chrome/bg/sm-control.png) no-repeat scroll 0px 0px transparent;
}




.footer-gradient {
	background: url(../img/chrome/bg/footer-gradient.png) repeat scroll 0 0 transparent;
	height: 11px;
}
.footer-search-container {
	margin-top: 15px;
	position: relative;
}
.footer-search-container .search {
    background: url(../img/chrome/bg/search-footer.png) no-repeat scroll left top transparent;
    bottom: 0px;
    height: 28px;
    left: 23px;
    position: absolute;
    width: 394px;
}
.footer-search label {
	display: block;
	margin-top: 5px;
    overflow: hidden;
    text-indent: -9999px;
}
.footer-search input {
    background-color: transparent;
    border: medium none;
    color: #808080;
    font-size: 12px;
    left: 30px;
    position: absolute;
    top: 6px;
    width: 352px;
    -webkit-appearance: none;
}



#site-map-container {
	background: url(../img/chrome/bg/site-map-container.jpg) repeat scroll 0 0 #EAEAE2;
	padding: 0 0 33px 0;
	margin: 0 0 0 0;
}
#site-map-container .search-control {
	float: right;
    margin-right: 13px;
}
.search-control label {
    color: #556B2C;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.search-control select {
    border: 1px solid #D3D2CA;
    margin-top: 5px;
    padding: 4px;
    width: 146px;
}

/* Site map */
#site-map {
	margin: 0 0 0 0;
	padding: 0 0 0 7px;
}
#site-map-container #site-map {
    background-color: #FCFCF7;
    border: 1px solid #CFD1C9;
    margin: 22px auto 0 auto;
	padding 17px 0 10px 0;
    position: static;
    width: 893px;
}
#site-map h3 {
	font-size: 12px;
    font-weight: bold;
    padding-bottom: 12px;
    margin-bottom: 0;
	margin-left: 10px;
	text-transform: uppercase;
	width: 126px;
}
#site-map h3 a {
	color: #556b2c;
}
#site-map a {
	color: #707070;
}
#site-map ul {
    float: left;
	margin: 0 7px 0 0;
	padding:0 0 10px 0;
}
.ie7 #site-map ul {
    margin-right: 16px;
}
#site-map ul ul {
    border-left: 1px solid #EAEAEA;
    float: none;
    line-height: 14px;
    padding-left: 15px;
	margin-left: 10px;
    width: 146px;
}
#site-map li li {
    font-size: 12px;
    padding-bottom: 5px;
}
#site-map .top-space {
    margin-top: 25px;
}


.footer-container {
	background-color: #000;
}
.footer-container .footer {
    background: url(../img/chrome/logos/footer-logo.png) no-repeat scroll 20px 23px #000;
	padding-bottom: 49px;
}
.footer .top {
    border-bottom: 1px solid #7F7F7F;
    margin-left: 82px;
    padding-bottom: 16px;
    padding-top: 33px;
}
.footer .text-logo {
    background: url(../img/chrome/logos/text-logo.png) no-repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 176px;
}
.footer .slogan {
    background: url(../img/chrome/logos/slogan.png) no-repeat scroll 0 0 transparent;
    float: right;
    height: 12px;
    margin-top: 14px;
    width: 259px;
}
.footer .links {
  	float: left;
    margin-left: 42px;
    margin-top: 13px;
}
.footer .links a {
	color: #fff;
}
.footer .links li {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 13px;
}
.footer .social {
    float: right;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 14px;
}
.footer .social li {
	margin-bottom: 7px;
}
.footer .social a {
    color: #FFFFFF;
    font-size: 12px;
    padding-left: 26px;
}
.footer .social .facebook {
	background: url(../img/chrome/utils/social_v2.png) no-repeat scroll 0px 4px transparent;
}
.footer .social .twitter {
	background: url(../img/chrome/utils/social_v2.png) no-repeat scroll 0px -20px transparent;
}
.footer .social .youtube {
	background: url(../img/chrome/utils/social_v2.png) no-repeat scroll 4px -42px transparent;
	padding-left: 15px;
}
.footer .social .itunes {
	background: url(../img/chrome/utils/social_v2.png) no-repeat scroll 4px -66px transparent;
	padding-left:15px;
}
.footer .updated {
    clear: right;
    color: #9B9B9B;
    float: right;
    font-size: 10px;
    margin-top: 14px;
}

