
.blue{background:#3498db;color:#fff;}
.blue h3{background:#fff;color:#3498db;font-size:36px;line-height:100px;margin:10px;padding:2%;position:relative;text-align:center;}

.content{margin:auto;padding:20px;width:600px;}

section{width:100%;}

@media (max-width: 420px) {
ul.nav li a{display:block;font-size:10px;}
}
@media (max-width: 768px) {
.blue h3{font-size:24px;}

.content{margin:auto;padding:20px 40px;width:auto;}

}