@media (min-width: 991px) {
  .wallpaper-home {
    margin-bottom: 20px !important;
  }
}
.home-content-area {
  background-color: #fff;
}
.row.fader-tools {
  background-color: #916800;
}
  .row.fader-tools .col-md-9 .fader {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
  }
  .row.fader-tools .col-md-3 {
    padding-right: 13px;
  }
@media (min-width: 992px) {
  .row.fader-tools {
    background: none;
  }
    .row.fader-tools .col-md-9 {
      padding-right: 0;
      width: 717px;
    }
    .row.fader-tools .col-md-3 {
      padding-left: 0;
      width: 271px;
    }
}
@media (min-width: 768px) and (max-width: 990px) {
  .row.fader-tools .col-md-3 {
    margin-left: -15px;
  }
}
.home-tools {
  background-color: #916800;
  margin: 0 auto;
  padding: 10px 25px;
  width: 100%;
}
@media (min-width: 991px) {
  .home-tools {
    background: #916800 url(../../assets/img/tools02b_dark.png) 0 -97px no-repeat;
    height: 336px;
  }
}
.home-tools h2,
.home-tools label {
  color: #f8e9c2;
  font-size: 16px;
  padding: 0;
}
.home-tools h2 {
  margin: 0 0 10px 0;
}
.home-tools label {
  display: block;
}
.home-tools .find-a-park,
.home-tools .pass,
.home-tools .support {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 990px) {
  .home-tools .find-a-park {
    border-bottom: 1px solid #ba8d1a;
    padding-bottom: 15px;
  }
}
.home-tools .find-a-park form select {
  float: left;
  height: 22px;
  width: 155px;
}
.home-tools .find-a-park form input {
  margin-left: 15px;
}
.home-tools .find-a-park .advanced {
  color: #fff;
  display: block;
  font-size: 10px;
  line-height: 16px;
  text-decoration: none;
}
.home-tools .find-a-park .advanced:hover {
  text-decoration: underline;
}
.home-tools .support {
  border-bottom: 1px solid #ba8d1a;
  margin: 0;
  padding: 15px 0;
}
@media (min-width: 991px) {
  .home-tools .support {
    border-top: 1px solid #ba8d1a;
    margin: 50px 0 15px 0;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .home-tools .pass {
    padding-top: 15px;
  }
}
.news-events-ad {
  margin-top: 25px;
  padding: 0 25px;
}
@media (min-width: 992px) {
  .news-events-ad {
    margin-left: 10px;
    padding: 0;
  }
}
  .news-events-ad .col-md-4:last-child {
    margin-top: 20px;
  }
@media (max-width:600px) {
    .items {
        clear: both;
        width:100%
    }
}
    
.items h2 {
  border-bottom: 1px solid #ccc;
  border-top: 2px solid #d1b366;
  color: #7e7e7e;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 18px;
  padding: 10px 0 8px 0;
  position: relative;
}
  .items h2 small {
    bottom: 13px;
    color: #b28000;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    position: absolute;
    right: 0;
  }
    .items h2 small a {
      color: #b28000;
      text-decoration: none;
    }
    .items h2 small a:hover {
      text-decoration: underline;
    }
.items ul {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 0 0 10px 0;
}
.items li {
  color: #666666;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}
  .items li a {
    color: #666;
    display: block;
    text-decoration: none;
  }
  .items li a:hover {
    color: #999;
  }
    .items li a:hover strong {
      color: #d39800;
    }
  .items li strong {
    color: #b28000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
  }
@media (min-width: 992px) {
  .home-ad-space {
    float: left;
    margin-left: 35px;
  }
}
@media (max-width:767px) {
    .home-ad-space {
        margin-bottom: 20px;
    }
}
.home-multimedia {
  margin-top: 5px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .home-multimedia {
    background: url(http://www.nps.gov/pwr/templates/images/bg/multimedia_shadow.gif);
    background-position: 40px 320px;
    background-repeat: no-repeat;
    background-size: 910px 21px;
  }
}
.home-multimedia-title {
  background-color: #f5f5f5;
  border-bottom: 1px solid #acacac;
  border-top: 2px solid #b2b2b2;
  height: 47px;
  margin: 0 25px;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .home-multimedia-title {
    margin: 0;
  }
}
.home-multimedia-title h2 {
  color: #7e7e7e;
  font-size: 20px;
  line-height: 47px;
  margin: 0;
  width: 100%;
}
  .home-multimedia-title h2 small {
    float: right;
    font-size: 11px;
    line-height: 11px;
    margin-top: 17px;
  }
.home-multimedia h2 small a {
  color: #b28000;
  font-weight: normal;
  text-decoration: none;
}
.home-multimedia h2 small a:hover {
  text-decoration: underline;
}
.home-multimedia-features {
  margin: 0 25px;
  padding: 0 20px;
}
@media (min-width: 992px) {
  .home-multimedia-features {
    height: 270px;
  }
    .home-multimedia-features .home-multimedia-feature {
      border-right: 1px solid #cbcbcb;
    }
    .home-multimedia-features .home-multimedia-feature:last-child {
      border-right: none;
    }
    .home-multimedia-features .col-md-2 {
      padding-left: 15px;
      width: 20%;
    }
}
.home-multimedia-feature {
  margin-top: 16px;
  padding-left: 20px;
}
@media (max-width: 500px) {
    .home-multimedia-feature {
        clear:both;
        width:100%;
        margin-bottom: 20px;
    }
}
  .home-multimedia-feature h3 {
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 9px;
    margin-top: 0;
    text-transform: uppercase;
  }
  .home-multimedia-feature p.caption {
    color: #666;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
  }
  .home-multimedia-feature h4 {
    color: #5e7630;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 6px;
    margin-top: 0;
  }
    .home-multimedia-feature h4 a {
      color: #5e7630;
      text-decoration: none;
    }
    .home-multimedia-feature h4 a:hover {
      text-decoration: underline;
    }
  .home-multimedia-feature a.visit {
    color: #b28000;
    font-size: 12px;
    text-decoration: none;
  }
  .home-multimedia-feature a.visit:hover {
    text-decoration: underline;
  }
