
/* Landing Promo List */


.classroom-item {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
    .classroom-item.last {
        border:none;
        padding-bottom: 0
    }
.classroom-item H2 {
    margin-top:0;
}
.classroom-item H3 {
    font-size: 14px;
    margin-top: 10px
}
.classroom-item H4 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px
}
@media (max-width:767px) {
    .separator {
        padding-top: 10px;
        margin-top: 20px;
        border-top: 1px dotted #c7c7c7;
        width:200px;
    }
}
