<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include top-park-secondary.html %}
    <div class="wallpaper-parks">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="middleContentArea group">
              {% include park-subnav-secondary.html %}
              {% include alerts-desktop.html %}
              <div class="content-container col-md-9 col-xs-12">{% include alerts-mobile.html %}{{ content }}{% if page.dyk == null or page.dyk != false %}<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="fact">
                    <h2>Did You Know?</h2>
                    <img id="dykImage" src="http://www.nps.gov/pwr/yose/photosmultimedia/images/ARC-_lowres.jpg" alt="ARC Students journaling near Hetch Hetchy">
                    <p>Adventure Risk Challenge (ARC) brings youth to Yosemite each summer for a dynamic literacy and leadership immersion program. ARC works with students, boosting academic and leadership skills through a variety of programs, including a 40-day experience in Yosemite full of adventure and learning.&nbsp;<a id="dykMoreInfo" title="Read more about this Did You Know" href="http://www.yosemiteconservancy.org/youth-stewardship/adventure-leadership-youth-development-program-adventure-risk-challenge-arc">More...</a></p>
                  </div>
                </div>
              </div>{% endif %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include bottom.html %}
  </body>
</html>
