<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include top-park-primary.html %}
    <div class="wallpaper-parks">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="middleContentArea group">
              {% include park-subnav.html %}
              {% include alerts-desktop.html %}
              <div class="content-container col-md-9 col-xs-12">{% include alerts-mobile.html %}{{ content }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include bottom.html %}
  </body>
</html>
